footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 55px;
}

.ImgFooterRUl {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.ImgPieDePagina {
  width: 125px;
  height: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.TextoFooter {
  color: white;
  margin-left: 45px;
  margin-top: 25px;
}
